@using WEB.Models
@{
    Layout = null;
    List<categoryitems> listc = ViewBag.type as List<categoryitems>;
}
<html>
<head>
<link href="~/Content/css/easyui/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/easyui/icon.css" rel="stylesheet" type="text/css" />
<script src="~/Content/Scripts/easyui/jquery-1.11.1.js" type="text/javascript"></script>
<script src="~/Content/Scripts/easyui/jquery-easyui-min.js" type="text/javascript"></script>
<script src="~/Content/Scripts/easyui/easyui-lang-zh_CN.js" type="text/javascript"></script>
<script src="~/Content/Scripts/ToolKit.js" type="text/javascript"></script>
<script>
    $(function () {
        GetUserList();
    });
    function GetUserList() {
        var param = {};
        param.ShopName = $("#txtName").val();
        param.ContactName = $("#txtContactName").val();
        param.Address = $("#txtAddress").val();
        param.r = Math.random();
        $("#ShopInfo").datagrid({
            url: "/Shop/GetShopList",
            method: 'post',
            pagination: true,
            pageSize: 10,
            pageList: [10, 30, 50],
            singleSelect: true,//单次选中
            queryParams: param,
            fitColumns: true,
            columns: [[
                { title: "店铺编号", field: "S_ID", width: 100 },
                { title: "店铺名称", field: "S_Name", width: 100 },
                { title: "店铺类型", field: "CI_Name", width: 100 },
                { title: "联系人", field: "S_ContactName", width: 100 },
                { title: "联系电话", field: "S_ContactTel", width: 100 },
                { title: "地址", field: "S_Address", width: 100 },
                { title: "备注", field: "S_Remark", width: 100 },
                {
                    title: "是否添加管理员", field: "S_IsHasSetAdmin", width: 100, formatter: function (value, row, index) {
                        return row.S_IsHasSetAdmin;
                    }
                },
                {
                    title: "加盟时间", field: "S_CreateTime", width: 100, formatter: function (value, row, index) {
                        return changeDateFormat(row.S_CreateTime);
                    }
                }
            ]]
        });
    }
    // 转换日期格式
    function changeDateFormat(cellval) {
        if (cellval != null) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
    }
    //修改温馨提示
    function tip() {
        $("#tip").dialog({
            title: "温馨提示",
            width: 300,
            height: 150,
            closed: false,
            modal: true //定义窗口是不是模态（modal）窗口。
        });
    }
    //删除温馨提示
    function del() {
        $("#del").dialog({
            title: "温馨提示",
            width: 300,
            height: 150,
            closed: false,
            modal: true //定义窗口是不是模态（modal）窗口。
        });
    }
    //添加按钮
    function InsertBtn() {
        $("#ID").val("");
        $("#txt_ShopName").val("");
        $("#typeName").prop("selectedIndex", 0);
        $("#txt_TellName").val("");
        $("#txt_Phone").val("");
        $("#txt_Address").val("");
        $("#txt_Remark").val("");
        //弹出窗体
        $("#div_Add").dialog({
            title: "添加信息",
            width: 400,
            height: 300,
            closed: false,
            buttons: '#btnSave',
            modal: true //定义窗口是不是模态（modal）窗口。
        });
    }
    //修改按钮
    function UpdateBtn() {
        var row = $("#ShopInfo").datagrid('getSelected');
        if (row != null) {
            $("#div_Add").dialog({
                title: "修改信息",
                width: 400,
                height: 300,
                closed: false,
                modal: true //定义窗口是不是模态（modal）窗口。
            });
            $("#txt_ShopName").val(row.S_Name);
            $("#typeName").prop("selectedIndex", row.CI_ID);
            $("#txt_TellName").val(row.S_ContactName);
            $("#txt_Phone").val(row.S_ContactTel);
            $("#txt_Address").val(row.S_Address);
            $("#txt_Remark").val(row.S_Reamrk);
            $("#ID").attr("value", row.S_ID);
        } else {
            tip();
        }
    }
    //修改
    function Edit() {
        var param = {};
        param.txt_ShopName = $("#txt_ShopName").val();
        param.typeName = $("#typeName").val();
        param.txt_TellName = $("#txt_TellName").val();
        param.txt_Phone = $("#txt_Phone").val();
        param.txt_Address = $("#txt_Address").val();
        param.txt_Remark = $("#txt_Remark").val();
        param.ID = $.trim($("#ID").attr("value"));
        $.post("/Shop/Update", param, function (result) {
            if (result.Code == 0) {
                alert(result.Message);
                $("#div_Add").dialog("close", false);
                $("#ShopInfo").datagrid('reload');
            } else {
                alert(result.Message);
            }
        });
    }
    //添加
    function Add() {

        var param = {};
        param.txt_ShopName = $("#txt_ShopName").val();
        param.typeName = $("#typeName").val();
        param.txt_TellName = $("#txt_TellName").val();
        param.txt_Phone = $("#txt_Phone").val();
        param.txt_Address = $("#txt_Address").val();
        param.txt_Remark = $("#txt_Remark").val();
        $.post("/Shop/AddShop", param, function (result) {
            if (result.Code == 0) {
                alert(result.Message);
                $("#div_Add").dialog("close", false);
                $("#ShopInfo").datagrid('reload');
            } else {
                alert(result.Message);
            }
        });
    }
    //删除
    function Delete() {
        var row = $("#ShopInfo").datagrid('getSelected');
        if (row != null) {
            $.post("/Shop/Delete", { ID: row.S_ID }, function (result) {
                if (result.Code == 0) {
                    alert(result.Message);
                    $("#ShopInfo").datagrid('reload');

                } else {
                    alert(result.Message);
                }
            });
        } else {
            tip();
        }
    }
    //提交按钮
    function Sumbit() {
        debugger
        var id = $.trim($("#ID").attr("value"));
        if (id != "") {
            Edit();
            $("#ShopInfo").datagrid('reload');
        } else {
            Add();
            $("#ShopInfo").datagrid('reload');
        }
    }
</script>
</head>
<body>
    <div id="tb" style="padding: 5px; height: auto">
        <div style="margin-bottom: 5px">
            <a href="#" class="easyui-linkbutton Insert" iconcls="icon-add" onclick="InsertBtn()">新增</a>
            <a href="#" class="easyui-linkbutton Update" iconcls="icon-edit" onclick="UpdateBtn()">修改</a>
            <a href="#" class="easyui-linkbutton Delete" iconcls="icon-remove" onclick="del()">删除</a>
            <a href="#" class="easyui-linkbutton AllotAdmin" iconcls="icon-ok">分配管理员</a>
        </div>
        <div>
            店铺名称:
            <input id="txtName" style="width: 80px;">
            联系人:
            <input id="txtContactName" style="width: 80px;">
            店铺地址:
            <input id="txtAddress" style="width: 80px;">
            <a href="#" class="easyui-linkbutton Search" iconcls="icon-search" id="btn_Select" onclick=" GetUserList()">查询</a>
        </div>
    </div>
    <div id="dlg" class="easyui-dialog" data-options="modal:true,closed:true">
        <iframe id="frm" width="99%" height="98%" frameborder="0" scrolling="no"></iframe>
    </div>
    <table id="ShopInfo"></table>
    <!-- 操作-->
    <div id="tip" class="easyui-dialog" data-options="modal:true,closed:true">
        <h1> 请选择需要操作的行！</h1>
        <input type="button" onclick='$("#div_Add").dialog("close", false);' value="确定" />
    </div>
    <div id="del" class="easyui-dialog" data-options="modal:true,closed:true" style="text-align:center">
        <h1>确定要删除吗？</h1>
        <input type="button" onclick='Delete(); $("#del").dialog("close", false)' value="确定" />
        <input type="button" onclick='$("#div_Add").dialog("close", false);' value="取消" />
    </div>
    <div id="div_Add" class="easyui-dialog" data-options="modal:true,closed:true,iconCls:'icon-add'">
        <input type="hidden" id="ID" />
        <table style="margin: 20px auto;" cellpadding="0" cellspacing="10">
            <tr>
                <td>店铺名称</td>
                <td><input type="text" id="txt_ShopName" /></td>
            </tr>
            <tr>
                <td>店铺类型</td>
                <td>
                    <select id="typeName">
                        <option value="0">==请选择==</option>
                        @{
                            if (listc != null)
                            {
                                foreach (categoryitems item in listc)
                                {
                                    <option value="@item.CI_ID">@item.CI_Name</option>
                                }
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>联系人</td>
                <td><input type="text" id="txt_TellName" /></td>
            </tr>
            <tr>
                <td>联系电话</td>
                <td><input type="text" id="txt_Phone" /></td>
            </tr>
            <tr>
                <td>店铺地址</td>
                <td><input type="text" id="txt_Address" /></td>
            </tr>
            <tr>
                <td>备注</td>
                <td><input type="text" id="txt_Remark" /></td>
            </tr>
            <tr style="text-align:center">
                <td colspan="2">
                    <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="Sumbit()">确定</a>
                    <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick='$("#div_Add").dialog("close", false);'>取消</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>